opencv-python~=4.5.5.62
numpy~=1.21.2
rawpy~=0.17.0
deepface~=0.0.72
imutils~=0.5.4
scipy~=1.7.3
scikit-image~=0.19.1
imageio~=2.14.1
cython~=0.29.27
insightface==0.6.2
onnxruntime~=1.10.0
scikit-learn~=1.0.2
pillow~=9.0.0
tqdm~=4.62.3
tensorflow~=2.7.0
imagededup~=0.2.2
